/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */
 :root {
  --color-light: #F3EED9;
  --color-primary: #824936;
  --color-dark: #222C2A;
  --ff-primary: 'Roboto', sans-serif;
  --ff-heading: 'Playfair Display', serif;
}

body{
	margin: 0;
	font-family: var(--ff-primary);
	font-weight: 400;
	font-size: 1.3125rem;
	line-height: 1.3;
}

h1,
h2 {
	font-family: var(--ff-heading);
	line-height: 1;
}

header{
	background-color: var(--color-light);
	color: var(--color-dark);
}
.navbar{
	padding: 5em 3em;
	background-color: var(--color-light);
	color: var(--color-dark);
}

.text-center{
	text-align: center;
}
.split{
	display: flex;
	flex-direction: row;
}

.bg-primary{
	background-color: 
}